In [72]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [73]:
olympic_data = pd.read_csv('../../DS2/final/athlete_events.csv')
olympic_data.head(3)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN

In [74]:
## Predict what country will win the most gold medals in the 2020 Summer Olympic Games. 
## What kind of problem is this --> Classification 
##

In [75]:
### Data Cleaning 
olympic_data['Medal'].isna().sum().sum()
### 231,333 NaN Value that appears in the MEDALS column. Before I drop these row, I want to know th 
## total number of non NaN value

231333

In [76]:
# olympic_data[olympic_data['Medal'] != NaN].head(5)
len(olympic_data['Medal'].notna())

271116

In [79]:
# olympic_data.dropna(subset=['Medal'], inplace=True)
olympic_data.dropna(subset=['Medal'], inplace=True)
len(olympic_data['Medal'])

39783

0

In [ ]:
### Data Analysis

AttributeError: 'NoneType' object has no attribute 'head'

In [ ]:
### Data Prediction

In [ ]:
## Predict what sports category will have the most gold medals in the 2020 Summer Olympic